<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--    <add name="MRMISGADBConnect" connectionString="Data Source=.\sqlexpress;Initial Catalog=signupdb;Integrated Security=True" /> -->
    <add name="MRMISGADBConnect" connectionString="Server=184.168.194.70;User ID=signupdb;Password=Fqy48u5#"/>
    <add name="ClubsConnect" connectionString="Data Source=184.168.194.70;User Id=misgaclubs;Password=mCb@I812;"/>
    <!--    <add name="ConnectionString" connectionString="Data Source=184.168.194.70;User ID=signupdb;Password=Fqy48u5#" providerName="System.Data.SqlClient"/>
-->
    <add name="ConnectionString" connectionString="Data Source=184.168.194.70;User ID=signupdb;Password=Fqy48u5#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LastUpdate" value="August 28, 2018"/>
    <add key="Version" value="2018.002"/>
    <add key="FromEmailAddress" value="playerslist@misga-signup.org"/>
    <add key="SignupOffset" value="0"/>
    <add key="AccessControl" value="on"/>
    <add key="Environment" value="Test"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="playerlist@misga-signup.org">
        <network host="relay-hosting.secureserver.net"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="25"/>
    <compilation targetFramework="4.7.2" defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="30" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MemberService" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00" maxBufferPoolSize="12582912" maxReceivedMessageSize="2883584"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.golfnet.com/memberservice.asmx" binding="basicHttpBinding" bindingConfiguration="MemberService" contract="MSGAServiceReference.MemberService" name="MemberService"/>
    </client>
  </system.serviceModel>
</configuration>